body{
    background-color: gray;
}

.lightgray{
    color: lightgray;
}
/* Intestazione */
.container{
    width: 80%;
    margin: auto;
    background-color: white;
}

.header{
    height: 100px;
    width: 100%;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain; 
}

#booleaner{
    color: #20A9E5;
}
    

.logo{
    width: 200px;
    height: 100px;
}

/* Corpo della pagina */

.tim{
    width: 48%;
    height: 350px;
}

.important{
    background-color: yellow;
}

#head{
    background-color: #20A9E5;
    color: white;
}

.lightblue{
    background-color: #B1E5F2;
}

/* footer */
.foto-1{
    background-image: url(../img/monitor.jpg);
    color: white;
    height: 200px;
    width: 300px;
    font-size: 20px;
}

.foto-2{
    background-image: url(../img/graph.jpg);
    color: white;
    height: 200px;
    width: 300px;
    font-size: 20px;
}
    


